<div *ngIf="query.q != '' && outputData != undefined" class="results-container">
    <div class="result-info-container">
        <!--<span *ngIf="this.data !== ''">You searched: {{query.searchTerm}}</span>-->
        <span >You searched: {{query.q}}</span>
        <!--<span *ngIf="numOfData > 0">Number of Results: {{numOfData}}</span>-->
    </div>
    
    <div *ngIf="outputData.length > 1" class="data-container">
        <app-giff-card *ngFor = "let giff of outputData" [giff]="giff">
        </app-giff-card>
    </div>
    <div *ngIf="outputData.length === 0" class="no-result-message">
        No GIFs found for '{{query.q}}' 😞
        <br>
        Try searching for <a href="/home?query=cats">cats</a> instead!
    </div>
</div>
