<div *ngIf="query.q != '' && outputData != undefined" class="results-container">
    <div class="result-info-container">
        <!--<span *ngIf="this.data !== ''">You searched: {{query.searchTerm}}</span>-->
        <span >You searched: {{query.q}}</span>
        <!--<span *ngIf="numOfData > 0">Number of Results: {{numOfData}}</span>-->
    </div>
    <!--
    <div *ngFor="let giff of outputData" class="data-container">
        title: {{giff.title}}
        <br>
        url: {{giff.url}}        
    </div>
 -->
    <div class="data-container">
        <app-giff-card *ngFor = "let giff of outputData" [giff]="giff">
        </app-giff-card>
    </div>
</div>
