/*
* {
    outline: 1px solid red;
}
*/

.caption-container {
    text-align: center;
    padding-top: 20vh;
}

.caption-container p {
    font-size: 1.5rem;
}

.caption {
    font-size: 5rem;
    margin: 0.1rem;
}

app-search {
    width: 100%;
    display: flex;
    justify-content: center;
}

app-output {
    width: 100%;
    height: 100%;
}